body {
  background: #efefef;
}

header img {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

body h1 {
  text-align: center;
  color: rgb(199, 79, 9);
  font-weight: bold;
  font-size: 50px;
}

#btn {
  width: 500px;
  height: 500px;
  background: #ef454a;
  border-radius: 50%;
  margin: 60px auto;
  text-align: center;
  line-height: 500px;
  color: #fff;
  font-weight: bold;
  font-size: 80px;
  cursor: pointer;
  box-shadow: 0 40px 0 #d1483e;
  user-select: none;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active {
  box-shadow: 0 35px 0 #d1483e;
  margin-top: 40px;
}

@media (min-width:900px) {
  header  img {
    width: 300px;
    height: 70px;
  }
  #btn {
    width: 200px;
  height: 200px;
  background: #ef454a;
  border-radius: 50%;
  margin: 60px auto;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 20px 0 #d1483e;
  user-select: none;
}
}